body {
  background-color: rgba(235, 235, 235, 0.62);
}
.wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 820px;
}

.header {
  display: flex;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 0 16px;
  margin-top: 3px;
  justify-content: space-between;
  margin-bottom: 19px;
  height: 80px;
  background-color: white;
}
.header p {
  margin: 0;
}

.intro {
  flex-grow: 1;
  font-size: 1.2em;
  margin-left: 4px;
  padding-left: 8px;
}
.category {
  color: #3866a3;
}

.bread-crumb {
  font-style: italic;
  color: grey;
  font-size: 14px;
}

.logo {
  align-self: center;
  width: 80px;
}

.main {
  padding: 1rem;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.title {
  font-size: 39px;
  text-align: center;
}

#fruit {
  max-width: 733px;
  margin: 0 auto;
}
#share {
  padding-left: 24px;
}
.title a {
  text-decoration: none;
  color: black;
}

.subtitle {
  font-size: 32px;
}

.main p {
  font-size: 1.5em;
}

.myButton {
  box-shadow: -1px 9px 0px -4px #bee2f9;
  border-radius: 13px;
  border: 2px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: #14396a;
  font-family: "Domine", sans-serif;
  font-weight: 700;
  font-size: 23px;
  padding: 27px 50px;
  text-decoration: none;
  margin: 0 auto;
}
.myButton:hover {
  background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
  background-color: #468ccf;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 90px;
}

.present p {
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .wrap {
    padding: 7px;
    margin: 0;
  }
  .category {
    color: #3866a3;
    font-size: 0.7em;
  }
  #fruit {
    max-width: 733px;
    margin: 0 auto;
  }
  #share {
    padding-left: 0;
  }

  .bread-crumb {
    font-style: italic;
    color: grey;
    font-size: 14px;
  }
  .header {
    font-size: 1em;
    padding: 4px;
  }
  .logo {
    width: 60px;
    height: 60px;
    display: none;
  }

  .title {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  .intro {
    font-size: 1em;
  }
  .subtitle {
    font-size: 1.5em;
  }
  .main p {
    font-size: 1em;
  }
}
