.wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 980px;
}

.header {
  display: flex;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 0 16px;
  margin-top: 3px;
  justify-content: space-between;
  margin-bottom: 19px;
}

.intro {
  font-size: 1.2em;
  margin-left: 4px;
  padding-left: 8px;
}

.logo {
  align-self: center;
  width: 100px;
  height: 100px;
}
.header p {
  margin-bottom: var(--spacing-0);
}

.main {
  padding: 1rem;
  border: 1px solid #e8e8e8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 3rem;
  text-align: center;
}

.title a {
  text-decoration: none;
  color: black;
}

.subtitle {
  font-size: 2rem;
}

.main p {
  font-size: 1.5em;
}

.myButton {
  box-shadow: -1px 9px 0px -4px #bee2f9;
  border-radius: 13px;
  border: 2px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: #14396a;
  font-family: "Domine", sans-serif;
  font-weight: 700;
  font-size: 23px;
  padding: 27px 50px;
  text-decoration: none;
  margin: 0 auto;
}
.myButton:hover {
  background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
  background-color: #468ccf;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 120px;
}
@media only screen and (max-width: 600px) {
  .header {
    font-size: 1em;
    padding: 4px;
  }
  .logo {
    width: 60px;
    height: 60px;
    display: none;
  }

  .title {
    font-size: 1.5em;
  }
  .intro {
    font-size: 1em;
  }
  .subtitle {
    font-size: 1.5em;
  }
  .main p {
    font-size: 1em;
  }
}
